<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layouts/main.html">

<div layout:fragment="title"><h2 class="text-center mt-150" th:text="#{posts}"></h2></div>
<div layout:fragment="myContent">

    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
                <div class="section-tittle text-center mb-80">

                    <ul th:each="item : ${itemler}">
                        <div class="shadow">
                            <a th:href="@{'/details'+${item.id}}">
                                <article class="blog_item">
                                    <div class="blog_details" >
                                        <a class="d-inline-block" th:href="@{'/details'+${item.id}}">
                                            <h2 th:text="${item.title}"></h2>
                                        </a>
                                        <p th:text="${item.shortContent}"></p>
                                        <div class="blog-info-link">
                                            <div>
                                                <li><a href="#" th:text="${#sets.size(item.likes)}"><i class="fa fa-comments"></i></a> <a
                                                        th:text="#{likes}"></a></li>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </a>
                        </div>
                    </ul>

            </div>
            </div>
        </div>
    </div>
</div>
</html>